.header2 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "times";
    font-size: 18px;
    width: 100%;
   display: inline-block;
    text-align: center;
   border-bottom: 2px rgba(0, 0, 0, 0.5);
}
.navbar{
   font-family: "times";
}
.center.navbar .nav,
.center.navbar .nav > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
}
.footer{
   text-align: center;
   padding:20px;
   color: #A2DED0;
}
.footer a{
   color: #A2DED0;
}
.footer a:hover{
   color: #72BAAC;
}
.center .navbar-inner {
    text-align:center;
}
.card{
   background-color: #1abc9c;
   width: 75%;
   padding-top: 25px;
   padding-bottom: 25px;
}
.line{
   width: 20%;
   text-align: center;
   height:1px; 
   background-color:black;
   border:none;
}
.header2 li {
   margin-left:0;
   float: none;
   display:inline-block;
}
.header2 a {
    display: block;
    /*color: white;*/
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.special{
   background-color: white;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
   margin: 0;
}
.header2 a:hover {
    color: #888;
   text-decoration: none;
}
.header2{
   background-color: white;
   text-align: center;
   position: fixed;
   top:0;
   width:100%;
   z-index: 999;
}
.header1{
  background-image: url(cropwater.png);
  background-color: white;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  color: #212F3D;
  margin: 0;
}
.scrollme {
    height: 80px;
    width: 110px;
    display: block;
    position: absolute;
    bottom: 0px;
    background-color: none;
   left: 50vw;
}
.scrollme .glyphicon {
    color: #212F3D;
    font-size: 30px;
    left: 2px;
    padding-right: 2px;
    padding-top: 20px;
    animation-name: wiggle;
    animation-duration: 1.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}
@keyframes wiggle {
	0% {
		padding-top: 20px;
	}

	50% {
		padding-top: 28px;
	}

	100% {
		padding-top: 20px;
	}
}
body{
  margin:0;
    color: #1C2833;
}
.titlesec{
  padding-top: 20px;
  padding-bottom: 10px;
  font-family: "Bebas";
  font-size: 30px;
  text-align: center;
}
.about{
  padding: 20px;
  font-family: sans-serif;
  font-size: 16px;
  text-align: center;
background-color: #F7F7F7;
}
.section1{
  text-align: center;
}
.minisection{
  padding: 30px;
}
.experience{
  padding: 20px;
  background-color: #F0F3F4;
  text-align: center;
  font-size: 25px;
  padding-bottom: 50px;
}
.contact{
  padding: 20px;
  background-color: #F7A3A2;
  padding-bottom: 50px;
}
.info{
    font-size: 16px;
    font-family: sans-serif;
    text-align: left;
}
.section2{
  font-size: 20px;
  padding-left: 30px;
  padding-right: 30px;
}
.titles{
    font-family: "Bebas";
    font-size: 24px;
}

.breaksection{
  background-image: url(leaves.jpeg);
  background-color: white;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 200px;
  color: #212F3D;
  margin: 0;
}
@font-face {
    font-family: "Basic Title Font";
    src: url(basictitlefont.ttf) format("truetype");
}
@font-face {
    font-family: "Antipasto";
    src: url(Antipasto-RegularTrial.ttf) format("truetype");
}
@font-face {
    font-family: "Aliens and Cows";
    src: url(aliensandcows.ttf) format("truetype");
}
@font-face {
    font-family: "Bebas";
    src: url(BebasNeue.otf) format("opentype");
}
@font-face {
    font-family: "Better Together";
    src: url(bettertogether.ttf) format("truetype");
}
@font-face {
    font-family: "Clemente";
    src: url(ClementePDai-Regular.ttf) format("truetype");
}
